

body {
    color: rgb(91, 196, 245);
    margin: 0;
    text-align: center;
    font-family: "Kode Mono", monospace;
}

.hero-section {
    background-image: url("./space.jpg");
    background-size: cover;
    padding: 10px 0 40px 0;
}

.logo-img {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

.main-word {
    text-decoration: underline;
    text-shadow: -5px -0.5px 3px black;
}

.btn {
    padding: 7px 14px;
    background-color: white;
    border: none;
    font-family: inherit;
    font-weight: bold;
}